body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('/images/header.jpg');
    background-size: cover; /* Menyesuaikan ukuran gambar dengan header */
    background-position: center; /* Menengahkan gambar di header */
    color: white; /* Warna teks */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none; 
    display: inline-block;
    padding: 10px 20px; 
    border-radius: 5px; 
}

nav ul li a:hover {
    background-color: lightblue; 
    color: #fff; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

@keyframes slideDownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content.pendaftaran {
    animation: slideDownAnimation 0.5s ease forwards;
}

pendaftaran {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.form-box {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    flex: 0 0 48%; /* Lebar elemen form */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: dodgerblue;
}

.notification {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: skyblue;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .form-group {
        flex: 0 0 100%;
    }
}

footer {
    background-image: url('/images/footer.webp');
    background-size: cover; /* Menyesuaikan ukuran gambar dengan header */
    background-position: center; /* Menengahkan gambar di header */
    color: white; /* Warna teks */
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
    height: 100%;
    box-sizing: border-box; 
}

.footer-content p {
    margin: 0px 5px; 
    font-size: 14px; 
}

.social-icons img {
    width: 20px; 
    height: 20px;
    margin: 0 5px; 
}